[submodule "qwebdavlib"]
	path = qwebdavlib
	url = https://github.com/beidl/qwebdavlib
[submodule "nemo-qml-plugin-notifications"]
	path = nemo-qml-plugin-notifications
	url = https://git.merproject.org/mer-core/nemo-qml-plugin-notifications.git
