[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nextcloud
Exec=harbour-nextcloud
Name=nextCloud
# translation example:
# your app name in German locale (de)
Name[de]=nextCloud
Name[sl]=nextCloud

Name[de_DE]=nextCloud
