[Unit]
Description=nextCloud photo backup
After=lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/harbour-nextcloud-daemon
Restart=always

[Install]
WantedBy=lipstick.service
